body {
  font-family: "Bangers";
  margin: 0;
  height: 100vh; /* Ensures the gradient covers the full screen */
  background: linear-gradient(45deg, #ff69b4, #ffb6c1, #87cefa);
  background-size: 400% 400%; /* Enlarges the background to allow smooth gradient animation */
  animation: gradientAnimation 10s ease infinite;
}

/* Define the animation */
@keyframes gradientAnimation {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

  .h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Bangers";
  font-style: normal;
  }

  .gallery {
    text-align: center;
    padding: 5rem 1rem;
  }