/* General styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

.nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Bangers";
}

.nav a:hover {
  color: #ff37f2;
}

.social-icons a {
  margin: 0 0.5rem;
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff37f2;
}
