@font-face {
  font-family: 'Avengeance';
  src: url('/fonts/AvengeanceMightiestAvenger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Obliquities';
  src: url('/fonts/SFObliquities.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Engcomica';
  src: url('/fonts/Engcomica.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avengeance', sans-serif;
}

body {
  margin: 0;
  font-family: "Avengeance";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #222;
  color: #fff;
}

.header .nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

.header .social-icons a {
  margin: 0 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.hero {
  text-align: center;
  background: #000000;
  padding: 5rem 1rem;
}

.past-events {
  padding: 2rem;
}

.past-events .events-gallery img {
  width: 100%;
  max-width: 300px;
  margin: 0.5rem;
}